@media print
   {
    @page {
        size: A4;
    }
    body {
       font-size: 12pt;
    }
}

.print-wrapper {
  .header-wrapper{
    grid-column: span 12;
    order: 0;
  }
  .profile-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    .group-title{
      flex-grow:1;
      text-align: center;
      background-color: #368699;
      font-size: 14px;
      margin-top: 20px;
    }
    img.avatar {
      height: 120px;
      width: auto;
      -webkit-print-color-adjust: exact;
      margin-bottom: 0 !important;
      vertical-align: middle;
      border-radius: 50%;
      position: absolute;
      border: 2px solid #368699;
      top: 0;
      left: 24px;
    }
  }
}
