---
#Add "layout: compress" here to compress the html code
---

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
  <!--<![endif]-->
  {% include head.html %}
  <style>
    body {
      padding: 0 !important;
    }
    .wrapper {
      max-width: unset !important;
    }
  </style>
  <body>
  <div class="print-wrapper">
      {% include header-print.html %}
    <div class="wrapper">
      {% include sidebar-print.html %}
      <div class="main-wrapper">
        {{ content }}

        <div class="source-wrapper">
          <p>Bron: https://mi3k3.github.io/curriculum-vitae/</p></div>
        </div>

    </div>
    {% include scripts.html %}


    </div>
  </body>
</html>
